@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profile-card{
    max-width: 370px;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile-card::before{
    content: '';
    position: absolute;
    height: 37%;
    width: 100%;
    background-color: #CCCCFF;
    top: 0;
    left: 0;
    border-radius: 25px 25px 0 0;
}


.image{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #CCCCFF;
    border-radius:50% ;
    padding: 5px;
    margin-bottom: 10px;
   
    
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    
    border: 3px solid white;
    
    
}

.text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-data .name{
    font-size: 22px;
    font-weight: 800;
}

.text-data .job{
    font-size: 15px;
    font-weight: 500;
}

.media-buttons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.social{
 height: 20px;
 width: auto;
 object-fit: cover;
}

.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.buttons .button{
    padding: 8px 24px;
    background-color: #CCCCFF;
    border-radius: 20px;
    border: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.buttons .button:hover{
    background-color: bisque;
}